.repositories {
  ul {
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
  }

  li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
  }

  h1 {
    font-weight: 600;
    font-size: 22px;
    max-width: 100%;
    font-style: italic;
  }
}

