.header {
  padding: 1rem 0 3rem;
}

.title {
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #454f57;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #454f57;
}

.active-nav-item {
  color: #454f57;
}

.logoLink {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 3.3rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 70px;
}

#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);

  width: 100vw;
  height: 100vh;
}
