@import "../utilities/settings";
.header {
  padding: 1rem 0 3rem;
  position: fixed;
}

.title {
  font-size: 3rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  top: 5%;
  font-size: 3.3rem;
  font-weight: 600;
}

a{
  text-decoration: none;
}
