@import "../utilities/settings";
.header {
  padding: 1rem 0 3rem;
  position: fixed;
}

.title {
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

li {
  top: 5%;
  font-size: 3.3rem;
  font-weight: 600;
  text-decoration: none;
}

#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);

  width: 100vw;
  height: 100vh;
}
