button {
    right: 5%;
    top: 5%;
    position: absolute;
    color: #454f57;
    background-color: Transparent;
    background-repeat:no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 75px;
    font-weight: 300;
}