// Light theme
$light-background-color: #d3dadf;
$light-text-color: #454f57;

// Dark theme 
$dark-background-color: #232b32;
$dark-text-color: #c3b6a2;

// Font Sizes
$sub-headings: 2.8rem;
$paragraphs: 1.8rem;
$descriptions: 1.2rem;