.list {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  min-height: 180px;
  border-radius: 3px;
  transition: box-shadow 300ms ease-in-out;
  border: 1px solid rgba(20, 20, 20, 0.03);
  box-shadow: 0 6px 13px 0 rgba(20, 20, 20, 0.05);
  &:hover {
    box-shadow: 0 12px 26px 0 rgba(20, 20, 20, 0.09);
  }
  p {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
  }
  list-style-type: none;
}

.repo {
  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
  h1 {
    font-size: 0.8em;
    font-weight: 600;
    color: hsl(0, 0%, 25%);
    margin-bottom: calc(var(--10px));
  }
  a {
    background: #f4f4f4;
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
}
