@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

body, html {
    background-color: white;
    color: #1F1F1F;
    font-family: 'Montserrat';
    overflow-x: hidden;
}